<footer class="bg-dark d-flex flex-column text-center pb-3">
  <div class="d-flex flex-column flex-md-row justify-content-around align-items-center mt-2 top-header">
    <div class="d-flex flex-column">
      <a href="#">Tous les disques</a>
      <a href="#">Toutes les chroniques</a>
      <a href="#">Tous les collectionneurs</a>
    </div>
    <div class="d-flex flex-column">
      <a href="#">Présentation du site</a>
      <a href="#">Soutenir le site</a>
      <a href="#">Nos partenaires</a>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row justify-content-center align-items-center footer-social">
        <a href="https://facebook.com">
          <fa-icon [icon]="facebookIcon"></fa-icon>
        </a>
        <a href="https://facebook.com">
          <fa-icon [icon]="twitterIcon"></fa-icon>
        </a>
        <a href="https://facebook.com">
          <fa-icon [icon]="instaIcon"></fa-icon>
        </a>
      </div>
      <a href="#">Contact</a>
      <a href="#">Aide - FAQ</a>
    </div>
  </div>
  <hr class="border border-white w-75 rounded" />
  <div class="text-center text-white">
    Vinyls-Collection Copyright - 2017
  </div>
</footer>
